@charset "UTF-8";

@font-face{
    font-family: Zona;
    src: url(../fonts/zona_pro.otf);
}

@font-face{
    font-family: Dual;
    src: url(../fonts/Dual-300.otf);
    src: url(../fonts/Dual-300.ttf);
}

/*All the links*/
a{
    cursor: pointer;
    text-decoration: none!important;
    outline:none;
}
/***************/



/*Diseño Botones NEURACORE*/
.button_neuracore_style{
    color:#919396 !important;
    font-family: Zona;
    border-right: 0.13rem solid #919396;
    border-left: 0.13rem solid #919396;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.button_neuracore_style:hover{
    color:#EF4E5B !important;
    border-right: 0.13rem solid #EF4E5B;
    border-left: 0.13rem solid #EF4E5B;
}

.button_neuracore_style:active{
    background-color: #EF4E5B;
    border:none;
    color: #FFFFFF !important;
}
/*END NEURACORE*/

/*Configuracion boton de servicios*/
.button_services{
    font-size: 2.5rem;
    /*position: absolute;
    left: 40.2%;*/
    color:#000000 !important;
    border-right: 0.13rem solid #000000;
    border-left: 0.13rem solid #000000;
}
/*end configuracion boton de servicios


/*Emergente Servicios*/
.service-modal{
    height: 40vh;
}

.service-modal p{
    font-size: 1.3rem;
}

.service-modal a{
    text-decoration:none;
    color: black;
    outline:none;
    font-size: 1.5em;
    font-family: Dual;
}

.service-modal span{
    font-family: Dual;
}

.service-modal a:hover, a:active, a:visited{
    text-decoration:none;
    /*color: white;    */
}

#d-web{
    background-image: url(../images/servicios/desarrollo-web.png);
}

#d-web:hover{
    background-image: url(../images/servicios/desarrollo-web-hover.png);
}

#d-producto{
    background-image: url(../images/servicios/desarrollo-producto.png);
}

#d-producto:hover{
    background-image: url(../images/servicios/desarrollo-producto-hover.png);
}

#d-marca{
    background-image: url(../images/servicios/desarrollo-marca.png);
}

#d-marca:hover{
    background-image: url(../images/servicios/desarrollo-marca-hover.png);
}

#p-marca{
    background-image: url(../images/servicios/campaña-medios.png);
}

#p-marca:hover{
    background-image: url(../images/servicios/campaña-medios-hover.png);
}


.modal-body, .container-fluid{
    padding: 0px !important;
}

.srs{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.srs:hover, .srs:hover a{
    color: #FFFFFF;
}


/*Servicios independientes*/
.service{

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.bg-opacity{
    background: rgba(0,0,0,0.3);
}

/*.bg-opacity2{
    background: rgba(255,255,255,0.5);
}*/

.lista-items li{
    color:red;
}

.lista-items li span{
    font-family: Zona;
    font-size: 1.3rem;
    color:black;
    font-weight: bold;
}

.list{
    font-family: Dual;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}

h1, h2, h4{
    font-family: Zona;
}

/*End Servicios independientes*/


.menu-cover{
    background-color: #FFFFFF;
    height: 100px
}

@media (min-width: 992px){

    #services-modal .modal-lg {
        max-width: 85% ;
    }
}
/*End Emergente Servicios*/

/*configuracion menu*/

nav{
    background-color: #FFF;
}
/********************/

/*configuracion Botones del menu*/
.button_menu{
    font-size: 0.9rem;
}

.button_menu:active{
    font-size: 0.9rem;
    border-right: 0.13rem solid #FFFFFF;
    border-left: 0.13rem solid #FFFFFF;
}
/*End configuracion botones del menu*/


/*CANVAS*/
.anim{
    background: url('../images/studio.png');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto auto;
    width: 100px;
    height: 100px;
    animation: bnk 2s 2;
}

@keyframes bnk{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.neurona{
    background: url('../images/studio.png');
    position: absolute;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto auto;
    width: 100px;
    height: 100px;

    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opactiy 5s ease-in;
    -ms-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;

}


.neurona:hover{
    opacity: 1;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opactiy .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}


body{
    overflow-x: hidden;
}
/*END CANVAS*/

/*Texto dentro del canvas*/
#text-animation{
    font-family: Dual;
    font-size: 5rem;

     font-weight: 900;
    /*text-align: center;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/

    color: black;
   /* -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px #FFF;
    *//*background-color: rgba(255,255,255,0.5); */
    text-shadow:
    0 0 5px #FFF,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -2px -2px 0 #FFF,
    2px -2px 0 #FFF,
   -2px  2px 0 #FFF,
    2px  2px 0 #FFF;
}
/*************************/

div.anim.neurona{
    z-index: 1;

}

div.text-canvas{
    z-index: 3;
}

.page{
    height: 100vh;
}

.background_section{
    background-image: url(../images/nosotros.png);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;

}


/*titulo de home*/
.title_home{
    color: #EF4E5B;
}

/*end titulo home*/

.h1,.h2,.h3,.h4{
    font-family: Zona;
}

p{
    font-family: Dual;
    font-size: 1.35rem;
}

.nosotros_description{
    background-color: #FFFFFF;
    margin-right: 7%;
}

/*Estilos para NEURACORE STUDIO*/
.neura{
    color: #EF4E5B;
    font-family: Dual;
}

.core{
    color:#919396;
    font-family: Zona;
}

.studio{
    color: #919396;
    font-family: Dual;
}
.footer_neura{
  font-size: 1.5em;
}
/*end estilos apra neuracore studio*/

/*Estilos para el carousel*/
.owl-carousel img{
    height: 250px;
    margin-bottom: 1rem;
}


.owl-theme .owl-nav [class*="owl-"]{
    height: 80%;
    width: 1.5rem;
    padding: 0 !important;
    margin: 0 !important;
    background-repeat:no-repeat !important;
     background-size:100% 100%  !important;
     background-position: center!important;
    background-origin: contain!important;
}

.owl-prev{
    float:left;
    background:url(../images/carousel/left.png)!important;
 }

 .owl-next{
    float:right;
    background:url(../images/carousel/right.png)!important;
 }

 .owl-nav{
    height: 2rem;
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: -1;
    padding-right: 0.5rem;
    padding-left: 0.5rem
}

.owl-stage-outer{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

/*Para los titulos debajo de cada item del portafolio*/
.item span{
    font-family: Zona;

}

/*items ocultos carousel*/
.item{
    cursor: move;

}

.item .description p{
    padding: 1rem;
    text-align:justify;
    font-size: 1.1rem !important;
    position: absolute;
    top:0%;
    background-color: rgba(255,255,255, .85);
    height: 80%;
}

.item .description{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 9;
}
/*end items ocultos carousel*/


div.owl-carousel div.owl-item.active{
    width: 380px!important;
}
/*End estilos carousel*/


/*estilos footer*/
input{

    border-radius: 0 !important;
}

#footer input::placeholder {
  color: #919396;
  font-family: Zona;
  font-size: 0.8rem;
}

.form-control{
    padding: 0.4rem 0.5rem;
    border: 1px solid #919396;
}
/*end estilos footer*/

/*configuracion Boton del footer*/
.button_footer{
    font-size: 0.9rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
/*end button footer*/


.form-group {
    margin-bottom: 0;
}

/*Emergente contacto*/
.form-contact{
    background-color: #EF4E5B;
    font-family: Dual
}

#contact-modal .modal-lg{
    margin-left: 46%;
    margin-top: 10vh;
    width: 50%;
}

hr{
    border-top: 0.5px solid #FFFFFF;
}

.form-contact .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    background-color: #EF4E5B;
    color: white;
    font-family: Dual;
}

.form-contact .form-control:focus{
    border-bottom: 2px solid white;
    background-color: #FFF;
    color: #EF4E5B;
}

.form-contact  .form-control:active{
    border-bottom: 2px solid white;
    background-color: #FFF;
    color: white;
}

select option{
    background-color: #FFF;
    color:#EF4E5B;
}

/*End emergente contacto*/


/*boton cotizar y enviar*/
.buttons_contact{
    font-family: Dual;
    color: #FFFFFF!important;
    border-right: 0.11rem solid #FFF;
    border-left: 0.11rem solid #FFF;
    border-top:0;
    border-bottom: 0;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    background-color: #EF4E5B;
}

.buttons_contact:hover{
    color: #EF4E5B !important;
    border:none !important;
    background-color: #FFF;
}
/*end boton cotizar y enviar*/



/* Media queries para movil*/
@media only screen and (max-width: 991px) {
    #navbarContent{
        margin: 0 auto;
        text-align: center;
    }

    #navbarContent ul li{
        margin: 5vh;
        font-size: 4rem;
    }

     #navbarContent ul li a{

        font-size: 2rem;}


    .button_neuracore_style{
        color:#EF4E5B !important;
        font-family: Zona;
        border:0;
    }

    .button_neuracore_style:hover{
        border:0;
    }

    .button_services{
        font-size: 2.5rem;
        /*position: absolute;
        left: 40.2%;*/
        color:#000000 !important;
        border-right: 0.13rem solid #000000;
        border-left: 0.13rem solid #000000;
    }

    .button_footer{
        color:#919396 !important;
        font-family: Zona;
        border-right: 0.13rem solid #919396;
        border-left: 0.13rem solid #919396;
        padding-right: 1.1rem;
        padding-left: 1.1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .button_footer:hover{
        color:#EF4E5B !important;
        border-right: 0.13rem solid #EF4E5B;
        border-left: 0.13rem solid #EF4E5B;
    }

    .button_footer:active{
        background-color: #EF4E5B;
        border:none;
        color: #FFFFFF !important;
    }

    section div#neuracore{
        margin-top: 100px;
    }

    .nosotros_description{
        background-color: #FFFFFF;
        margin-right: 0;
    }
        /*Emergente contacto*/


    #contact-modal .modal-lg{
        height: 100vh;
        margin: 0 auto;
        top: 10vh;
        width: 100%;
    }

    .modal-dialog{
        margin: 0 auto;
        max-width: 90% !important;
    }


    #formulario input::placeholder {
      color: #FFF;
      font-family: Dual;
      font-size: 1.1rem;
}




    /*End emergente contacto*/


    .service-modal{
        height: 23vh;
        text-align:center;
    }

    .service-modal .h1{
        font-size: 1.4rem;
        font-weight: 600;
    }

    #services-modal .modal-lg {
        max-width: 98% ;
    }

    .srs:hover, .srs:hover a{
        color: #000000;
    }

    .buttons_movil{
        color: #000!important;
        border-right: 0.13rem solid #000;
        border-left: 0.13rem solid #000;
        font-weight: 600;
        font-size: 1.2rem !important;
    }

    .bg-service{
            background-color: #FFF;
            font-family: Dual;

        }
        .bg-service h1{
            color: #EF4E5B;
        }

        .list-movil{
            color: #EF4E5B;
            font-size: 1rem;
            font-family: Zona;
        }

        .custom-toggler .navbar-toggler-icon{
            background-image: url(../images/menu-button.svg);

        }

        .custom-toggler.navbar-toggler {
            border: none;
            outline: none;
        }



}


/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
     #text-animation{
        font-size: 4.9rem;
    }

    p{
        font-family: Dual;
        font-size: 1.45rem;
    }

    div.owl-carousel div.owl-item.active{
        width: 450px!important;
    }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #text-animation{
        font-size:4rem;
    }

    p{
        font-family: Dual;
        font-size: 1.4rem;
    }

    div.owl-carousel div.owl-item.active{
        width: 430px!important;
   }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    #text-animation{
        font-size:4rem;
    }


}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
