@charset "UTF-8";
@font-face {
    font-family: Zona;
    src: url(../fonts/zona_pro.otf);
}

@font-face {
    font-family: Dual;
    src: url(../fonts/Dual-300.otf);
    src: url(../fonts/Dual-300.ttf);
}

.title-neuracore {
    font-family: Zona;
}

.text-neuracore {
    font-family: Dual;
    font-size: 1.15rem;
}

.b-mid {
    background-color: #1C1C1B;
}

.page {
    height: 100vh;
}

.nav-link {
    line-height: 0.4!important;
}

hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 1) !important;
}

.black-text {
    color: black;
}

.form-input {
    border: 0.09rem solid black;
    line-height: 0.9;
}

.form-control {
    border-radius: 0 !important;
}

input::placeholder {
    color: black;
    font-family: Zona;
    text-align: center;
}

.btn {
    border-radius: 0;
    font-family: Zona;
    line-height: 0.9;
    background-color: transparent;
}

.menu-link{
    line-height: 0.3;
}

.button-neuracore-b {
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
}

.button-neuracore-w {
    border-left: 0.1rem solid white;
    border-right: 0.1rem solid white;
}

a:link {
    text-decoration: none;
    outline: none;
}

a:visited {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: black;
}

a:active {
    text-decoration: none;
    outline: none;
}

a {
    cursor: pointer;
}

a.left-menu{
    color:white;
}

a.left-menu:hover{
    color:black;
    background-color: white;
}

.proyecto:hover{
    border:0;
    background-color: black;
    color:white;
    cursor:pointer;
}