@font-face {
    font-family: Zona;
    src: url(fonts/ZonaPro.otf);
    src: url(fonts/ZonaPro.ttf);
}

@font-face {
    font-family: Dual;
    src: url(fonts/Dual-300.otf);
    src: url(fonts/Dual-300.ttf);
}

@font-face {
  font-family: ZonaSB;
  src: url(fonts/ZonaPro-SemiBold.otf);
  src: url(fonts/ZonaPro-SemiBold.ttf);
}

body{

  background-color: #fff;

}

h1{
  font-size: 2.5em;
  font-family: ZonaSB;
  text-align: center;
  color: #919396;
}

div{
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

p{
  font-family: Dual;
  color: #919396;
}

span.icons{
  word-spacing: 20px;
}

span.space{
  white-space: pre-line;
}

.neura{
  font-family: Dual;
  color: #EF4E5B;
}

.core{
  font-family: Zona;
  color: #919396;

}

.studio{
  font-family: Dual;
  color; #919396;
}
