.form-style{
	background-color: #EF4E5B; 
	
	font-family: Dual;
	font-size: 1em;
	color:white;
}

.social-style{
	color:#EF4E5B;
	font-family: Dual;
	font-size: 1.2em;
}

.style-footer{
	background-color: #2E2E2E;
	color: white;
	font-family: Dual;
	
	width: 100%;
}