*{
    margin:0px;
    padding:0px;
}

a{
    text-decoration:none;
    color:#EF4E5B;
    outline:none;
}

a:hover{
    text-decoration:none;
    color: #EF4E5B;
}

a:active{
    text-decoration:none;
    color: #EF4E5B;
}

a:visited{
    text-decoration:none;
    color: #EF4E5B;
}

body{
    margin:0px;
    padding:0px;
}


@font-face{
    font-family: Dual;
    src: url(../fonts/Dual-300.otf);
    src: url(../fonts/Dual-300.ttf);
}

 @font-face{
    font-family: Zona;
    src: url(../fonts/zona_pro.otf);
}

.button{
    background-color: transparent;
    border-left: 2px solid #FE2E64;
    border-right: 2px solid #FE2E64;
    border-bottom: 0px;
    border-top: 0px;
    height: 30px;
    vertical-align: top;
    margin-top: 1.5%;
    margin-left: 28%;
    width: 15%;
    outline: none;
    font-size: 1.5em;
}

.button:hover{
    background-color: #929496;
    color: white;
    border: 0;
}

#logo{
    padding-top: 0.5%;
    width: 14%; 
}

#menu-burger{
    float: right;
    padding-top: 1%;
    margin-right: 3%;
    width: 3.5%;
}

#menu{
    z-index: 9;

  background: rgb(250, 250, 250);
  height: 13vh;


}

.link-hand:hover{
    cursor: pointer;
}

.animation{
    height:90vh;
    width: 100%;

}

.logo{
    width: 100%;
}




.mosaico:hover .service{
    visibility: visible;

}


.text-title-content{
    font-size: 3.2em;
    font-family: Zona;
    color:#EF4E5B;
}


.text-content{
    font-size: 1.3em;
    font-family: Dual;
    text-align: justify;
}

.mosaico{
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.pfn{
    height: 20vh;
    width: 20%;
}

.one-page{
    height: 87vh;
}

#text-animation{
    font-family: Dual;
    font-size: 5em;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.5); 
}

.arrow {
    position: absolute;
    background: url('../images/ad.png');
}

html{
    overflow-x:hidden;   
    -webkit-overflow-x:hidden;   

}

body { 
    -webkit-overflow-x:hidden;
    overflow-x:hidden;  
}

#hand{
    background: url('../images/hand.png');
    position: absolute;     
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto auto;
    right: 15%;
    top:75%;
    width: 124px;
    height: 124px;
    z-index: 9;
}

#circle{
    background-color: transparent;
    border-radius: 50%;
    border: solid 3px blue;
    position: absolute;
    right: 18.5%;
    top:68%;
    width: 50px;
    height: 50px;
}

.anim{

    background: url('../images/studio.png');
    position: absolute; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto auto;
    width: 100px;
    height: 100px;

    animation: bnk 2s 2;
}

@keyframes bnk{
    0%, 100%{
        opacity: 0;}
    50%{
        opacity: 1;
    }
}

.neurona{
    background: url('../images/studio.png');
    position: absolute; 
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto auto;
    width: 100px;
    height: 100px;
       
    -webkit-transition: opacity 5s ease-in;
    -moz-transition: opactiy 5s ease-in;
    -ms-transition: opacity 5s ease-in;
    -o-transition: opacity 5s ease-in;
    transition: opacity 5s ease-in;

}


.neurona:hover{    
    opacity: 1;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opactiy .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}

.section-1{
    height: 800px;
    background-color: red;
    width: 100%;
}

@media only screen and (max-width: 1250px) {
   

    #menu-burger{
        float: right;
        padding-top: 2.5%;
        margin-right: 3.5%;
        width: 9%;
    }

    #logo{
        padding-top: 3%;
        width: 33%; 
    }

    .button{
        background-color: transparent;
        border-left: 2px solid #FE2E64;
        border-right: 2px solid #FE2E64;
        border-bottom: 0px;
        border-top: 0px;
        height: 35px;
        vertical-align: top;
        margin-top: 5%;
        margin-left: 12%;
        width: 18%;
        outline: none;
        font-size: 1.7em;
    }
}

