#title-port{
	  font-size: 2em;
    font-family: Zona;
    color:#EF4E5B;
}

#content-port{
	font-family: Dual;	
	font-size: 1em;
}

.service{
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  text-align: center;
  height: 20vh;
  background: rgba(239, 78, 91, 0.9);
  color:white;
  width: 25%;
  writing-mode: vertical-lr;

  font-family: Dual;
  font-size: 1.3em;

  visibility: hidden;
 
}