/*
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	.image {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

		.image:before {
			display: none;
		}

		.image img {
			position: relative;
			-ms-behavior: url("assets/js/ie/PIE.htc");
		}

/* Form */

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form input[type="password"],
	form input[type="tel"],
	form select,
	form textarea {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* List */

	ul.contact li a {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

	ul.special a {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Copyright */

	#copyright {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Nav */

	#nav li a, #nav li span {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Section/Article */

	section > .last-child, section.last-child, article > .last-child, article.last-child {
		margin-bottom: 0;
	}

/* Wrappers */

	#banner-wrapper {
		background-image: url("../../images/banner.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		#banner-wrapper:before {
			display: none;
		}

/* Nav */

	#nav {
		background: #f8f8f8;
	}

		#nav:after {
			display: none;
		}

	.dropotron {
		box-shadow: none !important;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Banner */

	#banner {
		background: #151c17;
	}

		#banner:before {
			display: none;
		}
