@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

/*
    Read Only by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

/* Box Model */

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

/* Containers */

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .container.\31 25\25 {
        width: 100%;
        max-width: 56.25em;
        min-width: 45em;
    }

    .container.\37 5\25 {
        width: 33.75em;
    }

    .container.\35 0\25 {
        width: 22.5em;
    }

    .container.\32 5\25 {
        width: 11.25em;
    }

    .container {
        width: 45em;
    }

    @media screen and (max-width: 1680px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 56.25em;
            min-width: 45em;
        }

        .container.\37 5\25 {
            width: 33.75em;
        }

        .container.\35 0\25 {
            width: 22.5em;
        }

        .container.\32 5\25 {
            width: 11.25em;
        }

        .container {
            width: 45em;
        }

    }

    @media screen and (max-width: 1280px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 52.5em;
            min-width: 42em;
        }

        .container.\37 5\25 {
            width: 31.5em;
        }

        .container.\35 0\25 {
            width: 21em;
        }

        .container.\32 5\25 {
            width: 10.5em;
        }

        .container {
            width: 42em;
        }

    }

    @media screen and (max-width: 1024px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 106.25%;
            min-width: 85%;
        }

        .container.\37 5\25 {
            width: 63.75%;
        }

        .container.\35 0\25 {
            width: 42.5%;
        }

        .container.\32 5\25 {
            width: 21.25%;
        }

        .container {
            width: 85% !important;
        }

    }

    @media screen and (max-width: 736px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 112.5%;
            min-width: 90%;
        }

        .container.\37 5\25 {
            width: 67.5%;
        }

        .container.\35 0\25 {
            width: 45%;
        }

        .container.\32 5\25 {
            width: 22.5%;
        }

        .container {
            width: 90% !important;
        }

    }

    @media screen and (max-width: 480px) {

        .container.\31 25\25 {
            width: 100%;
            max-width: 112.5%;
            min-width: 90%;
        }

        .container.\37 5\25 {
            width: 67.5%;
        }

        .container.\35 0\25 {
            width: 45%;
        }

        .container.\32 5\25 {
            width: 22.5%;
        }

        .container {
            width: 90% !important;
        }

    }

/* Grid */

    .row {
        border-bottom: solid 1px transparent;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row > * {
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row:after, .row:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .row.uniform > * > :first-child {
        margin-top: 0;
    }

    .row.uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.\30 \25 > * {
        padding: 0 0 0 0em;
    }

    .row.\30 \25 {
        margin: 0 0 -1px 0em;
    }

    .row.uniform.\30 \25 > * {
        padding: 0em 0 0 0em;
    }

    .row.uniform.\30 \25 {
        margin: 0em 0 -1px 0em;
    }

    .row > * {
        padding: 0 0 0 2em;
    }

    .row {
        margin: 0 0 -1px -2em;
    }

    .row.uniform > * {
        padding: 2em 0 0 2em;
    }

    .row.uniform {
        margin: -2em 0 -1px -2em;
    }

    .row.\32 00\25 > * {
        padding: 0 0 0 4em;
    }

    .row.\32 00\25 {
        margin: 0 0 -1px -4em;
    }

    .row.uniform.\32 00\25 > * {
        padding: 4em 0 0 4em;
    }

    .row.uniform.\32 00\25 {
        margin: -4em 0 -1px -4em;
    }

    .row.\31 50\25 > * {
        padding: 0 0 0 3em;
    }

    .row.\31 50\25 {
        margin: 0 0 -1px -3em;
    }

    .row.uniform.\31 50\25 > * {
        padding: 3em 0 0 3em;
    }

    .row.uniform.\31 50\25 {
        margin: -3em 0 -1px -3em;
    }

    .row.\35 0\25 > * {
        padding: 0 0 0 1em;
    }

    .row.\35 0\25 {
        margin: 0 0 -1px -1em;
    }

    .row.uniform.\35 0\25 > * {
        padding: 1em 0 0 1em;
    }

    .row.uniform.\35 0\25 {
        margin: -1em 0 -1px -1em;
    }

    .row.\32 5\25 > * {
        padding: 0 0 0 0.5em;
    }

    .row.\32 5\25 {
        margin: 0 0 -1px -0.5em;
    }

    .row.uniform.\32 5\25 > * {
        padding: 0.5em 0 0 0.5em;
    }

    .row.uniform.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
    }

    .\31 2u, .\31 2u\24 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }

    .\31 1u, .\31 1u\24 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 0u, .\31 0u\24 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\39 u, .\39 u\24 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u, .\38 u\24 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u, .\37 u\24 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u, .\36 u\24 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u, .\35 u\24 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u, .\34 u\24 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u, .\33 u\24 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u, .\32 u\24 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u, .\31 u\24 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31 2u\24 + *,
    .\31 1u\24 + *,
    .\31 0u\24 + *,
    .\39 u\24 + *,
    .\38 u\24 + *,
    .\37 u\24 + *,
    .\36 u\24 + *,
    .\35 u\24 + *,
    .\34 u\24 + *,
    .\33 u\24 + *,
    .\32 u\24 + *,
    .\31 u\24 + * {
        clear: left;
    }

    .\-11u {
        margin-left: 91.66667%;
    }

    .\-10u {
        margin-left: 83.33333%;
    }

    .\-9u {
        margin-left: 75%;
    }

    .\-8u {
        margin-left: 66.66667%;
    }

    .\-7u {
        margin-left: 58.33333%;
    }

    .\-6u {
        margin-left: 50%;
    }

    .\-5u {
        margin-left: 41.66667%;
    }

    .\-4u {
        margin-left: 33.33333%;
    }

    .\-3u {
        margin-left: 25%;
    }

    .\-2u {
        margin-left: 16.66667%;
    }

    .\-1u {
        margin-left: 8.33333%;
    }

    @media screen and (max-width: 1680px) {

        .row > * {
            padding: 0 0 0 2em;
        }

        .row {
            margin: 0 0 -1px -2em;
        }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\31 50\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            margin: -1em 0 -1px -1em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.5em 0 -1px -0.5em;
        }

        .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28xlarge\29 + *,
        .\31 1u\24\28xlarge\29 + *,
        .\31 0u\24\28xlarge\29 + *,
        .\39 u\24\28xlarge\29 + *,
        .\38 u\24\28xlarge\29 + *,
        .\37 u\24\28xlarge\29 + *,
        .\36 u\24\28xlarge\29 + *,
        .\35 u\24\28xlarge\29 + *,
        .\34 u\24\28xlarge\29 + *,
        .\33 u\24\28xlarge\29 + *,
        .\32 u\24\28xlarge\29 + *,
        .\31 u\24\28xlarge\29 + * {
            clear: left;
        }

        .\-11u\28xlarge\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28xlarge\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28xlarge\29 {
            margin-left: 75%;
        }

        .\-8u\28xlarge\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28xlarge\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28xlarge\29 {
            margin-left: 50%;
        }

        .\-5u\28xlarge\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28xlarge\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28xlarge\29 {
            margin-left: 25%;
        }

        .\-2u\28xlarge\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28xlarge\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 1280px) {

        .row > * {
            padding: 0 0 0 1.5em;
        }

        .row {
            margin: 0 0 -1px -1.5em;
        }

        .row.uniform > * {
            padding: 1.5em 0 0 1.5em;
        }

        .row.uniform {
            margin: -1.5em 0 -1px -1.5em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\32 00\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 2.25em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -2.25em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 2.25em 0 0 2.25em;
        }

        .row.uniform.\31 50\25 {
            margin: -2.25em 0 -1px -2.25em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 0.75em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -0.75em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 0.75em 0 0 0.75em;
        }

        .row.uniform.\35 0\25 {
            margin: -0.75em 0 -1px -0.75em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.375em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.375em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.375em 0 0 0.375em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.375em 0 -1px -0.375em;
        }

        .\31 2u\28large\29, .\31 2u\24\28large\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28large\29, .\31 1u\24\28large\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28large\29, .\31 0u\24\28large\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28large\29, .\39 u\24\28large\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28large\29, .\38 u\24\28large\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28large\29, .\37 u\24\28large\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28large\29, .\36 u\24\28large\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28large\29, .\35 u\24\28large\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28large\29, .\34 u\24\28large\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28large\29, .\33 u\24\28large\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28large\29, .\32 u\24\28large\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28large\29, .\31 u\24\28large\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28large\29 + *,
        .\31 1u\24\28large\29 + *,
        .\31 0u\24\28large\29 + *,
        .\39 u\24\28large\29 + *,
        .\38 u\24\28large\29 + *,
        .\37 u\24\28large\29 + *,
        .\36 u\24\28large\29 + *,
        .\35 u\24\28large\29 + *,
        .\34 u\24\28large\29 + *,
        .\33 u\24\28large\29 + *,
        .\32 u\24\28large\29 + *,
        .\31 u\24\28large\29 + * {
            clear: left;
        }

        .\-11u\28large\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28large\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28large\29 {
            margin-left: 75%;
        }

        .\-8u\28large\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28large\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28large\29 {
            margin-left: 50%;
        }

        .\-5u\28large\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28large\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28large\29 {
            margin-left: 25%;
        }

        .\-2u\28large\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28large\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 1024px) {

        .row > * {
            padding: 0 0 0 1.5em;
        }

        .row {
            margin: 0 0 -1px -1.5em;
        }

        .row.uniform > * {
            padding: 1.5em 0 0 1.5em;
        }

        .row.uniform {
            margin: -1.5em 0 -1px -1.5em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 3em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -3em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 3em 0 0 3em;
        }

        .row.uniform.\32 00\25 {
            margin: -3em 0 -1px -3em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 2.25em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -2.25em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 2.25em 0 0 2.25em;
        }

        .row.uniform.\31 50\25 {
            margin: -2.25em 0 -1px -2.25em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 0.75em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -0.75em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 0.75em 0 0 0.75em;
        }

        .row.uniform.\35 0\25 {
            margin: -0.75em 0 -1px -0.75em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.375em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.375em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.375em 0 0 0.375em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.375em 0 -1px -0.375em;
        }

        .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28medium\29, .\39 u\24\28medium\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28medium\29, .\38 u\24\28medium\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28medium\29, .\37 u\24\28medium\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28medium\29, .\36 u\24\28medium\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28medium\29, .\35 u\24\28medium\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28medium\29, .\34 u\24\28medium\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28medium\29, .\33 u\24\28medium\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28medium\29, .\32 u\24\28medium\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28medium\29, .\31 u\24\28medium\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28medium\29 + *,
        .\31 1u\24\28medium\29 + *,
        .\31 0u\24\28medium\29 + *,
        .\39 u\24\28medium\29 + *,
        .\38 u\24\28medium\29 + *,
        .\37 u\24\28medium\29 + *,
        .\36 u\24\28medium\29 + *,
        .\35 u\24\28medium\29 + *,
        .\34 u\24\28medium\29 + *,
        .\33 u\24\28medium\29 + *,
        .\32 u\24\28medium\29 + *,
        .\31 u\24\28medium\29 + * {
            clear: left;
        }

        .\-11u\28medium\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28medium\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28medium\29 {
            margin-left: 75%;
        }

        .\-8u\28medium\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28medium\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28medium\29 {
            margin-left: 50%;
        }

        .\-5u\28medium\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28medium\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28medium\29 {
            margin-left: 25%;
        }

        .\-2u\28medium\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28medium\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 736px) {

        .row > * {
            padding: 0 0 0 1.25em;
        }

        .row {
            margin: 0 0 -1px -1.25em;
        }

        .row.uniform > * {
            padding: 1.25em 0 0 1.25em;
        }

        .row.uniform {
            margin: -1.25em 0 -1px -1.25em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 2.5em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -2.5em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 2.5em 0 0 2.5em;
        }

        .row.uniform.\32 00\25 {
            margin: -2.5em 0 -1px -2.5em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 1.875em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -1.875em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 1.875em 0 0 1.875em;
        }

        .row.uniform.\31 50\25 {
            margin: -1.875em 0 -1px -1.875em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 0.625em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -0.625em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 0.625em 0 0 0.625em;
        }

        .row.uniform.\35 0\25 {
            margin: -0.625em 0 -1px -0.625em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.3125em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.3125em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.3125em 0 0 0.3125em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.3125em 0 -1px -0.3125em;
        }

        .\31 2u\28small\29, .\31 2u\24\28small\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28small\29, .\31 1u\24\28small\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28small\29, .\31 0u\24\28small\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28small\29, .\39 u\24\28small\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28small\29, .\38 u\24\28small\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28small\29, .\37 u\24\28small\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28small\29, .\36 u\24\28small\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28small\29, .\35 u\24\28small\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28small\29, .\34 u\24\28small\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28small\29, .\33 u\24\28small\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28small\29, .\32 u\24\28small\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28small\29, .\31 u\24\28small\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28small\29 + *,
        .\31 1u\24\28small\29 + *,
        .\31 0u\24\28small\29 + *,
        .\39 u\24\28small\29 + *,
        .\38 u\24\28small\29 + *,
        .\37 u\24\28small\29 + *,
        .\36 u\24\28small\29 + *,
        .\35 u\24\28small\29 + *,
        .\34 u\24\28small\29 + *,
        .\33 u\24\28small\29 + *,
        .\32 u\24\28small\29 + *,
        .\31 u\24\28small\29 + * {
            clear: left;
        }

        .\-11u\28small\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28small\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28small\29 {
            margin-left: 75%;
        }

        .\-8u\28small\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28small\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28small\29 {
            margin-left: 50%;
        }

        .\-5u\28small\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28small\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28small\29 {
            margin-left: 25%;
        }

        .\-2u\28small\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28small\29 {
            margin-left: 8.33333%;
        }

    }

    @media screen and (max-width: 480px) {

        .row > * {
            padding: 0 0 0 1.25em;
        }

        .row {
            margin: 0 0 -1px -1.25em;
        }

        .row.uniform > * {
            padding: 1.25em 0 0 1.25em;
        }

        .row.uniform {
            margin: -1.25em 0 -1px -1.25em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 2.5em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -2.5em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 2.5em 0 0 2.5em;
        }

        .row.uniform.\32 00\25 {
            margin: -2.5em 0 -1px -2.5em;
        }

        .row.\31 50\25 > * {
            padding: 0 0 0 1.875em;
        }

        .row.\31 50\25 {
            margin: 0 0 -1px -1.875em;
        }

        .row.uniform.\31 50\25 > * {
            padding: 1.875em 0 0 1.875em;
        }

        .row.uniform.\31 50\25 {
            margin: -1.875em 0 -1px -1.875em;
        }

        .row.\35 0\25 > * {
            padding: 0 0 0 0.625em;
        }

        .row.\35 0\25 {
            margin: 0 0 -1px -0.625em;
        }

        .row.uniform.\35 0\25 > * {
            padding: 0.625em 0 0 0.625em;
        }

        .row.uniform.\35 0\25 {
            margin: -0.625em 0 -1px -0.625em;
        }

        .row.\32 5\25 > * {
            padding: 0 0 0 0.3125em;
        }

        .row.\32 5\25 {
            margin: 0 0 -1px -0.3125em;
        }

        .row.uniform.\32 5\25 > * {
            padding: 0.3125em 0 0 0.3125em;
        }

        .row.uniform.\32 5\25 {
            margin: -0.3125em 0 -1px -0.3125em;
        }

        .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
            width: 100%;
            clear: none;
            margin-left: 0;
        }

        .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
            width: 91.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
            width: 83.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
            width: 75%;
            clear: none;
            margin-left: 0;
        }

        .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
            width: 66.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
            width: 58.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
            width: 50%;
            clear: none;
            margin-left: 0;
        }

        .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
            width: 41.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
            width: 33.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
            width: 25%;
            clear: none;
            margin-left: 0;
        }

        .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
            width: 16.6666666667%;
            clear: none;
            margin-left: 0;
        }

        .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
            width: 8.3333333333%;
            clear: none;
            margin-left: 0;
        }

        .\31 2u\24\28xsmall\29 + *,
        .\31 1u\24\28xsmall\29 + *,
        .\31 0u\24\28xsmall\29 + *,
        .\39 u\24\28xsmall\29 + *,
        .\38 u\24\28xsmall\29 + *,
        .\37 u\24\28xsmall\29 + *,
        .\36 u\24\28xsmall\29 + *,
        .\35 u\24\28xsmall\29 + *,
        .\34 u\24\28xsmall\29 + *,
        .\33 u\24\28xsmall\29 + *,
        .\32 u\24\28xsmall\29 + *,
        .\31 u\24\28xsmall\29 + * {
            clear: left;
        }

        .\-11u\28xsmall\29 {
            margin-left: 91.66667%;
        }

        .\-10u\28xsmall\29 {
            margin-left: 83.33333%;
        }

        .\-9u\28xsmall\29 {
            margin-left: 75%;
        }

        .\-8u\28xsmall\29 {
            margin-left: 66.66667%;
        }

        .\-7u\28xsmall\29 {
            margin-left: 58.33333%;
        }

        .\-6u\28xsmall\29 {
            margin-left: 50%;
        }

        .\-5u\28xsmall\29 {
            margin-left: 41.66667%;
        }

        .\-4u\28xsmall\29 {
            margin-left: 33.33333%;
        }

        .\-3u\28xsmall\29 {
            margin-left: 25%;
        }

        .\-2u\28xsmall\29 {
            margin-left: 16.66667%;
        }

        .\-1u\28xsmall\29 {
            margin-left: 8.33333%;
        }

    }

/* Basic */

    body {
        background: #fff;
    }

    body, input, select, textarea {
        color: #888;
        font-family: "Lato", sans-serif;
        font-size: 16pt;
        font-weight: 400;
        line-height: 1.75em;
    }

    a {
        -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        border-bottom: solid 1px #e4e4e4;
        color: inherit;
        text-decoration: none;
    }

        a:hover {
            border-bottom-color: transparent;
            color: #0000a0 !important;
        }

    strong, b {
        color: #8080c0;
        font-weight: 700;
    }

    em, i {
        font-style: italic;
    }

    p {
        margin: 0 0 2.25em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #8080c0;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 0.5625em 0;
    }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            border: 0;
            color: inherit;
            text-decoration: none;
        }

    h2 {
        font-size: 2em;
        line-height: 1.5em;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1.5em;
    }

    h4 {
        font-size: 1.25em;
        line-height: 1.5em;
    }

    h5 {
        font-size: 0.9em;
        line-height: 1.5em;
    }

    h6 {
        font-size: 0.7em;
        line-height: 1.5em;
    }

    sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
    }

    sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
    }

    hr {
        border: 0;
        border-bottom: solid 2px #f4f4f4;
        margin: 2.25em 0;
    }

        hr.major {
            margin: 3.375em 0;
        }

    blockquote {
        border-left: solid 8px #e4e4e4;
        font-style: italic;
        margin: 0 0 2.25em 0;
        padding: 0.5em 0 0.5em 2em;
    }

    code {
        background: #555;
        border-radius: 5px;
        color: #fff;
        font-family: "Source Code Pro", monospace;
        font-size: 0.9em;
        margin: 0 0.25em;
        padding: 0.25em 0.65em;
    }

    pre {
        font-family: "Source Code Pro", monospace;
        font-size: 0.9em;
        margin: 0 0 2.25em 0;
    }

        pre code {
            -webkit-overflow-scrolling: touch;
            display: block;
            line-height: 1.5em;
            overflow-x: auto;
            padding: 1em 1.5em;
        }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

/* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header p {
        color: #aaa;
        position: relative;
        margin: 0 0 1.6875em 0;
    }

    header h2 + p {
        font-size: 1.25em;
        margin-top: -0.5em;
        line-height: 1.5em;
    }

    header h3 + p {
        font-size: 1.1em;
        margin-top: -0.35em;
        line-height: 1.5em;
    }

    header h4 + p,
    header h5 + p,
    header h6 + p {
        font-size: 0.9em;
        margin-top: -0.25em;
        line-height: 1.5em;
    }

    header.major h2 {
        color: #0000a0;
        font-size: 3.5em;
    }

        header.major h2 + p {
            color: #8080c0;
            font-size: 1.75em;
            font-weight: 700;
            margin-top: -0.75em;
        }

/* Form */

    form {
        margin: 0 0 2.25em 0;
    }

    label {
        color: #8080c0;
        display: block;
        font-size: 0.9em;
        font-weight: 700;
        margin: 0 0 1.125em 0;
    }

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border-radius: 5px;
        border: none;
        border: solid 2px #e4e4e4;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
    }

        input[type="text"]:invalid,
        input[type="password"]:invalid,
        input[type="email"]:invalid,
        select:invalid,
        textarea:invalid {
            box-shadow: none;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        select:focus,
        textarea:focus {
            border-color: #0000a0;
        }

    .select-wrapper {
        text-decoration: none;
        display: block;
        position: relative;
    }

        .select-wrapper:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .select-wrapper:before {
            color: #e4e4e4;
            content: '\f078';
            display: block;
            height: 2.75em;
            line-height: 2.75em;
            pointer-events: none;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 2.75em;
        }

        .select-wrapper select::-ms-expand {
            display: none;
        }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        height: 2.75em;
    }

    textarea {
        padding: 0.75em 1em;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: block;
        float: left;
        margin-right: -2em;
        opacity: 0;
        width: 1em;
        z-index: -1;
    }

        input[type="checkbox"] + label,
        input[type="radio"] + label {
            text-decoration: none;
            color: #888;
            cursor: pointer;
            display: inline-block;
            font-size: 1em;
            font-weight: 400;
            padding-left: 2.4em;
            padding-right: 0.75em;
            position: relative;
        }

            input[type="checkbox"] + label:before,
            input[type="radio"] + label:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            input[type="checkbox"] + label:before,
            input[type="radio"] + label:before {
                background: #fafafa;
                border-radius: 5px;
                border: solid 2px #e4e4e4;
                content: '';
                display: inline-block;
                height: 1.65em;
                left: 0;
                line-height: 1.58125em;
                position: absolute;
                text-align: center;
                top: 0;
                width: 1.65em;
            }

        input[type="checkbox"]:checked + label:before,
        input[type="radio"]:checked + label:before {
            background: #989898;
            border-color: #989898;
            color: #ffffff;
            content: '\f00c';
        }

        input[type="checkbox"]:focus + label:before,
        input[type="radio"]:focus + label:before {
            border-color: #0000a0;
        }

    input[type="checkbox"] + label:before {
        border-radius: 5px;
    }

    input[type="radio"] + label:before {
        border-radius: 100%;
    }

    ::-webkit-input-placeholder {
        color: #aaa !important;
        font-style: italic;
        opacity: 1.0;
    }

    :-moz-placeholder {
        color: #aaa !important;
        font-style: italic;
        opacity: 1.0;
    }

    ::-moz-placeholder {
        color: #aaa !important;
        font-style: italic;
        opacity: 1.0;
    }

    :-ms-input-placeholder {
        color: #aaa !important;
        font-style: italic;
        opacity: 1.0;
    }

    .formerize-placeholder {
        color: #aaa !important;
        font-style: italic;
        opacity: 1.0;
    }

/* Box */

    .box {
        border-radius: 5px;
        border: solid 2px #e4e4e4;
        margin-bottom: 2.25em;
        padding: 1.5em;
    }

        .box > :last-child,
        .box > :last-child > :last-child,
        .box > :last-child > :last-child > :last-child {
            margin-bottom: 0;
        }

        .box.alt {
            border: 0;
            border-radius: 0;
            padding: 0;
        }

/* Icon */

    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon > .label {
            display: none;
        }

/* Image */

    .image {
        border-radius: 5px;
        border: 0;
        display: inline-block;
        position: relative;
    }

        .image img {
            border-radius: 5px;
            display: block;
        }

        .image.left {
            float: left;
            margin: 0 2.5em 2em 0;
            top: 0.25em;
        }

        .image.right {
            float: right;
            margin: 0 0 2em 2.5em;
            top: 0.25em;
        }

        .image.fit {
            display: block;
            margin: 0 0 2.25em 0;
            width: 100%;
        }

            .image.fit img {
                display: block;
                width: 100%;
            }

        .image.avatar {
            border-radius: 100%;
            overflow: hidden;
        }

            .image.avatar img {
                border-radius: 100%;
                display: block;
                width: 100%;
            }

/* List */

    ol {
        list-style: decimal;
        margin: 0 0 2.25em 0;
        padding-left: 1.25em;
    }

        ol li {
            padding-left: 0.25em;
        }

    ul {
        list-style: disc;
        margin: 0 0 2.25em 0;
        padding-left: 1em;
    }

        ul li {
            padding-left: 0.5em;
        }

        ul.alt {
            list-style: none;
            padding-left: 0;
        }

            ul.alt li {
                border-top: solid 2px #f4f4f4;
                padding: 0.5em 0;
            }

                ul.alt li:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

        ul.feature-icons {
            list-style: none;
            padding-left: 0;
        }

            ul.feature-icons li {
                text-decoration: none;
                display: inline-block;
                margin: 0 0 1.6875em 0;
                padding: 0.35em 0 0 3.5em;
                position: relative;
                vertical-align: top;
                width: 48%;
            }

                ul.feature-icons li:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-transform: none !important;
                }

                ul.feature-icons li:before {
                    background: #0000a0;
                    border-radius: 100%;
                    color: #ffffff;
                    display: block;
                    height: 2.5em;
                    left: 0;
                    line-height: 2.5em;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 2.5em;
                }

        ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            ul.icons li {
                display: inline-block;
                padding: 0 1em 0 0;
            }

                ul.icons li:last-child {
                    padding-right: 0 !important;
                }

                ul.icons li .icon:before {
                    font-size: 1.25em;
                }

        ul.actions {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            ul.actions li {
                display: inline-block;
                padding: 0 1.125em 0 0;
                vertical-align: middle;
            }

                ul.actions li:last-child {
                    padding-right: 0;
                }

            ul.actions.small li {
                padding: 0 0.5625em 0 0;
            }

            ul.actions.vertical li {
                display: block;
                padding: 1.125em 0 0 0;
            }

                ul.actions.vertical li:first-child {
                    padding-top: 0;
                }

                ul.actions.vertical li > * {
                    margin-bottom: 0;
                }

            ul.actions.vertical.small li {
                padding: 0.5625em 0 0 0;
            }

                ul.actions.vertical.small li:first-child {
                    padding-top: 0;
                }

            ul.actions.fit {
                display: table;
                margin-left: -1.125em;
                padding: 0;
                table-layout: fixed;
                width: calc(100% + 1.125em);
            }

                ul.actions.fit li {
                    display: table-cell;
                    padding: 0 0 0 1.125em;
                }

                    ul.actions.fit li > * {
                        margin-bottom: 0;
                    }

                ul.actions.fit.small {
                    margin-left: -0.5625em;
                    width: calc(100% + 0.5625em);
                }

                    ul.actions.fit.small li {
                        padding: 0 0 0 0.5625em;
                    }

    dl {
        margin: 0 0 2.25em 0;
    }

/* Table */

    .table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    table {
        margin: 0 0 2.25em 0;
        width: 100%;
    }

        table tbody tr {
            border: solid 2px #f4f4f4;
            border-left: 0;
            border-right: 0;
        }

            table tbody tr:nth-child(2n + 1) {
                background-color: #fafafa;
            }

        table td {
            padding: 0.75em 0.75em;
        }

        table th {
            color: #8080c0;
            font-size: 0.9em;
            font-weight: 700;
            padding: 0 0.75em 0.75em 0.75em;
            text-align: left;
        }

        table thead {
            border-bottom: solid 4px #e4e4e4;
        }

        table tfoot {
            border-top: solid 4px #e4e4e4;
        }

        table.alt {
            border-collapse: separate;
        }

            table.alt tbody tr td {
                border: solid 2px #e4e4e4;
                border-left-width: 0;
                border-top-width: 0;
            }

                table.alt tbody tr td:first-child {
                    border-left-width: 2px;
                }

            table.alt tbody tr:first-child td {
                border-top-width: 2px;
            }

            table.alt thead {
                border-bottom: 0;
            }

            table.alt tfoot {
                border-top: 0;
            }

/* Button */

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: #989898;
        border-radius: 5px;
        border: 0;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        height: 2.75em;
        line-height: 2.75em;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }

        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        .button:hover {
            background-color: #a5a5a5;
            color: #ffffff !important;
        }

        input[type="submit"]:active,
        input[type="reset"]:active,
        input[type="button"]:active,
        .button:active {
            background-color: #8b8b8b;
        }

        input[type="submit"].icon,
        input[type="reset"].icon,
        input[type="button"].icon,
        .button.icon {
            padding-left: 1.35em;
        }

            input[type="submit"].icon:before,
            input[type="reset"].icon:before,
            input[type="button"].icon:before,
            .button.icon:before {
                margin-right: 0.5em;
            }

        input[type="submit"].fit,
        input[type="reset"].fit,
        input[type="button"].fit,
        .button.fit {
            display: block;
            margin: 0 0 1.125em 0;
            width: 100%;
        }

        input[type="submit"].small,
        input[type="reset"].small,
        input[type="button"].small,
        .button.small {
            font-size: 0.8em;
        }

        input[type="submit"].big,
        input[type="reset"].big,
        input[type="button"].big,
        .button.big {
            font-size: 1.35em;
        }

        input[type="submit"].alt,
        input[type="reset"].alt,
        input[type="button"].alt,
        .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #e4e4e4;
            color: #8080c0 !important;
        }

            input[type="submit"].alt:hover,
            input[type="reset"].alt:hover,
            input[type="button"].alt:hover,
            .button.alt:hover {
                background-color: #f4f4f4;
                color: #8080c0 !important;
            }

            input[type="submit"].alt:active,
            input[type="reset"].alt:active,
            input[type="button"].alt:active,
            .button.alt:active {
                background-color: #eaeaea;
            }

            input[type="submit"].alt.icon:before,
            input[type="reset"].alt.icon:before,
            input[type="button"].alt.icon:before,
            .button.alt.icon:before {
                color: #aaa;
            }

        input[type="submit"].special,
        input[type="reset"].special,
        input[type="button"].special,
        .button.special {
            background-color: #0000a0;
            color: #ffffff !important;
        }

            input[type="submit"].special:hover,
            input[type="reset"].special:hover,
            input[type="button"].special:hover,
            .button.special:hover {
                background-color: #5ed0b1;
            }

            input[type="submit"].special:active,
            input[type="reset"].special:active,
            input[type="button"].special:active,
            .button.special:active {
                background-color: #39c29d;
            }

        input[type="submit"].disabled, input[type="submit"]:disabled,
        input[type="reset"].disabled,
        input[type="reset"]:disabled,
        input[type="button"].disabled,
        input[type="button"]:disabled,
        .button.disabled,
        .button:disabled {
            background-color: #888 !important;
            box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
            color: #fff !important;
            cursor: default;
            opacity: 0.25;
        }

/* Features */

    .features article {
        border-top: solid 3px #f4f4f4;
        margin-bottom: 2.25em;
        padding-top: 2.25em;
    }

        .features article:first-child {
            border-top: 0;
            padding-top: 0;
        }

        .features article .image {
            display: inline-block;
            padding-right: 2.5em;
            vertical-align: middle;
            width: 48%;
        }

            .features article .image img {
                display: block;
                width: 100%;
            }

        .features article .inner {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }

            .features article .inner > :last-child {
                margin-bottom: 0;
            }

/* Header */

    #header {
        background: #0000a0;
        color: #ffffff;
        height: 100%;
        position: fixed;
        text-align: center;
        top: 0;
        width: 23em;
        right: 0;
    }

        #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
            color: #ffffff;
        }

            #header h1 a, #header h2 a, #header h3 a, #header h4 a, #header h5 a, #header h6 a {
                color: #ffffff;
            }

        #header header p {
            color: #ffffff;
            opacity: 0.5;
        }



            #header a:hover {
                color: #ffffff !important;
                opacity: 1;
            }

        #header > header {
            padding: 3em;
        }

            #header > header .avatar {
                display: block;
                margin: 0 auto 2.25em auto;
                width: 8em;
            }

            #header > header h1 {
                font-size: 1.75em;
                margin: 0;
            }

            #header > header p {
                font-style: italic;
                margin: 1em 0 0 0;
            }

        #header > footer {
            bottom: 0;
            left: 0;
            padding: 2em;
            position: absolute;
            width: 100%;
        }

            #header > footer .icons {
                margin: 0;
            }

                #header > footer .icons li a {
                    color: #ffffff;
                    opacity: 0.5;
                }

        #header > nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            #header > nav ul li {
                display: block;
                padding: 0;
            }

                #header > nav ul li a {
                    -moz-transition: none;
                    -webkit-transition: none;
                    -ms-transition: none;
                    transition: none;
                    border: 0;
                    color: #ffffff !important;
                    display: block;
                    padding: 0.85em 0;
                    text-decoration: none;
                }

                    #header > nav ul li a.active {
                        background: #fff;
                        color: #0000a0 !important;
                    }

                #header > nav ul li:first-child {
                    border-top: 0;
                }

/* Wrapper */

    #wrapper {
        background: #fff;
        padding-right: 23em;
    }

/* Main */

    #main > section {
        border-top: solid 6px #f4f4f4;
    }

        #main > section > .container {
            padding: 6em 0 4em 0;
        }

        #main > section:first-child {
            border-top: 0;
        }

/* Footer */

    #footer {
        background: #fafafa;
        border-top: 0;
        color: #c0c0c0;
        overflow: hidden;
        padding: 4em 0 2em 0;
    }

        #footer .copyright {
            line-height: 1em;
            list-style: none;
            padding: 0;
        }

            #footer .copyright li {
                border-left: solid 1px #d4d4d4;
                display: inline-block;
                font-size: 0.8em;
                margin-left: 1em;
                padding-left: 1em;
            }

                #footer .copyright li:first-child {
                    border-left: 0;
                    margin-left: 0;
                    padding-left: 0;
                }

                #footer .copyright li a {
                    color: inherit;
                }

/* XLarge */

    @media screen and (max-width: 1680px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 13pt;
            }

        /* Header */

            #header {
                width: 21em;
            }

                #header > header {
                    padding: 2em;
                }

                #header > footer {
                    padding: 1.5em;
                }

        /* Wrapper */

            #wrapper {
                padding-right: 21em;
            }

        /* Main */

            #main > section > .container {
                padding: 4em 0 2em 0;
            }

    }

/* Large */

    @media screen and (max-width: 1280px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 11pt;
            }

        /* Header */

            #header {
                width: 20em;
            }

        /* Wrapper */

            #wrapper {
                padding-right: 20em;
            }

    }

/* Medium */

    #titleBar {
        display: none;
    }

    @media screen and (max-width: 1024px) {

        /* Basic */

            html, body {
                overflow-x: hidden;
            }

            body, input, select, textarea {
                font-size: 12pt;
            }

        /* Image */

            .image.left, .image.right {
                max-width: 40%;
            }

                .image.left img, .image.right img {
                    width: 100%;
                }

        /* Header */

            #header {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                display: block;
                height: 100%;
                overflow-y: auto;
                position: fixed;
                top: 0;
                width: 23em;
                z-index: 10002;
                -moz-transform: translateX(23em);
                -webkit-transform: translateX(23em);
                -ms-transform: translateX(23em);
                transform: translateX(23em);
                right: 0;
            }

                #header > footer {
                    bottom: auto;
                    left: auto;
                    margin: 1em 0 0 0;
                    position: relative;
                    right: auto;
                    top: auto;
                }

        /* Wrapper */

            #wrapper {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                padding: 44px 0 1px 0;
            }


        /* Off-Canvas Navigation */

            #titleBar {
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-transition: -moz-transform 0.5s ease;
                -webkit-transition: -webkit-transform 0.5s ease;
                -ms-transition: -ms-transform 0.5s ease;
                transition: transform 0.5s ease;
                display: block;
                height: 44px;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 10001;
                background: #0000a0;
                color: #fff;
                min-width: 320px;
            }

                #titleBar .title {
                    color: #fff;
                    display: block;
                    font-weight: 700;
                    height: 44px;
                    line-height: 44px;
                    padding: 0 1em;
                    width: 100%;
                    text-align: left;
                }

                    #titleBar .title a {
                        border: 0;
                        text-decoration: none;
                    }

                #titleBar .toggle {
                    text-decoration: none;
                    height: 4em;
                    position: absolute;
                    top: 0;
                    width: 6em;
                    border: 0;
                    outline: 0;
                    right: 0;
                }

                    #titleBar .toggle:before {
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: normal;
                        text-transform: none !important;
                    }

                    #titleBar .toggle:before {
                        background: #0000a0;
                        color: #ffffff;
                        content: '\f0c9';
                        display: block;
                        font-size: 18px;
                        height: 44px;
                        line-height: 44px;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        width: 64px;
                        right: 0;
                    }

            body.header-visible #wrapper, body.header-visible #titleBar {
                -moz-transform: translateX(-23em);
                -webkit-transform: translateX(-23em);
                -ms-transform: translateX(-23em);
                transform: translateX(-23em);
            }

            body.header-visible #header {
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
            }

    }

/* Small */

    @media screen and (max-width: 736px) {

        /* Basic */

            body, input, select, textarea {
                font-size: 12pt;
            }

            h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
                display: none;
            }

            h2 {
                font-size: 1.75em;
            }

            h3 {
                font-size: 1.5em;
            }

            h4 {
                font-size: 1em;
            }

        /* Image */

            .image.left {
                margin: 0 1.5em 1em 0;
            }

            .image.right {
                margin: 0 0 1em 1.5em;
            }

        /* Section/Article */

            header br {
                display: none;
            }

            header.major h2 {
                font-size: 2.5em;
            }

                header.major h2 + p {
                    font-size: 1.5em;
                }

        /* Features */

            .features article .image {
                display: block;
                margin: 0 0 2.25em 0;
                padding-right: 0;
                width: 100%;
            }

            .features article .inner {
                display: block;
                width: 100%;
            }

        /* Header */

            #header {
                width: 17em;
                -moz-transform: translateX(17em);
                -webkit-transform: translateX(17em);
                -ms-transform: translateX(17em);
                transform: translateX(17em);
                right: 0;
            }

                #header > header {
                    padding: 2em;
                }

                    #header > header .avatar {
                        margin: 0 auto 1.6875em auto;
                        width: 6em;
                    }

                    #header > header h1 {
                        font-size: 1.5em;
                    }

                    #header > header p {
                        margin: 1em 0 0 0;
                    }

                #header > footer {
                    padding: 1.5em;
                }

        /* Main */

            #main > section > .container {
                padding: 2em 0 0 0;
            }

        /* Footer */

            #footer {
                text-align: center;
            }

                #footer .copyright li {
                    border-left: 0;
                    display: block;
                    line-height: 1.75em;
                    margin: 0.75em 0 0 0;
                    padding-left: 0;
                }

                    #footer .copyright li:first-child {
                        margin-top: 0;
                    }

        /* Off-Canvas Navigation */

            #titleBar .toggle {
                height: 4em;
                width: 6em;
            }

                #titleBar .toggle:before {
                    font-size: 14px;
                    width: 44px;
                }

            body.header-visible #wrapper, body.header-visible #titleBar {
                -moz-transform: translateX(-17em);
                -webkit-transform: translateX(-17em);
                -ms-transform: translateX(-17em);
                transform: translateX(-17em);
            }

    }

/* XSmall */

    @media screen and (max-width: 480px) {

        /* Basic */

            html, body {
                min-width: 320px;
            }

            body, input, select, textarea {
                font-size: 12pt;
            }

        /* List */

            ul.actions {
                margin: 0 0 2.25em 0;
            }

                ul.actions li {
                    display: block;
                    padding: 1.125em 0 0 0;
                    text-align: center;
                    width: 100%;
                }

                    ul.actions li:first-child {
                        padding-top: 0;
                    }

                    ul.actions li > * {
                        width: 100%;
                        margin: 0 !important;
                    }

                        ul.actions li > *.icon:before {
                            margin-left: -2em;
                        }

                ul.actions.small li {
                    padding: 0.5625em 0 0 0;
                }

                    ul.actions.small li:first-child {
                        padding-top: 0;
                    }

            ul.feature-icons li {
                display: block;
                width: 100%;
            }

        /* Button */

            input[type="submit"],
            input[type="reset"],
            input[type="button"],
            .button {
                padding: 0;
            }

    }